@using Testing.Models
@using PagedList.Mvc;
@model PagedList.PagedList<Testing.ViewModels.TruyenMoiCapNhat>

@{
    ViewBag.Title = "Home Page";
}

@* Khung truyện hot/popular *@
<section id="slider">
    <div class="my_container" style="margin-top:10px;">
        <div class="slider">
            @* Tiêu đề *@
            <div class="title">
                <h3>Manga tiêu biểu trong ngày</h3>
            </div>
            @* Khung lướt *@
            <div class="manga_slide">
                @* Một truyện *@
                @*<div class="manga_slide_container">
                    <div class="fit_thumbnail">
                        <a href="https://ww1.mangafox.online/the-fiancee-is-here" title="The Fiancee is Here"><img src="https://cdn1.mangafox.online/625/080/369/821/818/the-fiancee-is-here.jpg" class="img img-responsive"></a>
                        <div class="manga_slide_name">
                            <h3><a href="https://ww1.mangafox.online/the-fiancee-is-here" title="The Fiancee is Here">The Fiancee is Here</a></h3>
                            <span><a href="https://ww1.mangafox.online/the-fiancee-is-here/chapter-13-648903251249287" title="Chapter 13">Chapter 13</a></span>
                        </div>
                    </div>
                </div>*@
                @* Nút qua trái/phải *@
                <div class="next_prev_sphighlight">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="content_left" style="margin-top:20px;">
    @* Tiêu đề *@
    <div class="title">
        <h3>Truyện mới cập nhật</h3>
        <div class="grid_list">
            <a href="#" class="active">
                <i class="fa fa-th" aria-hidden="true"></i>
            </a>
            <a href="#">
                <i class="fa fa-list" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    @* Khung *@
    <div class="content_grid">
        <ul style="margin:0;">         
            @* Một truyện *@
            @foreach(var truyen in Model)
            {
            <li class="content_grid_item">
                <div class="content_grid_item_border">
                    @* Khung truyện trên trang chủ *@
                    <div class="content_grid_item_img">
                        <a href="/Home/Thongtintruyen/@truyen.MaProject">
                            @* Ành truyện *@
                            <img src="~/Truyen/@truyen.AnhBia" class="img-responsive" title="@truyen.TenProject">
                        </a>
                        @* Số lượt xem *@
                        <div class="view">
                            <i class="fa fa-eye" aria-hidden="true"></i> @Html.Action("TongLuotView", "Home", new { id = @truyen.MaProject })
                        </div>
                        
                        @*<div class="view">
                            <i class="fa fa-eye" aria-hidden="true"></i> 700
                        </div>*@
                    </div>
                    @* Tên truyện *@
                    <div class="content_grid_item_name">
                        <a href="/Home/Thongtintruyen/@truyen.MaProject" title="@truyen.TenProject">@truyen.TenProject</a>
                    </div>
                    @* Chương truyện *@
                    @Html.Action("ChuongTruyenMoi", "Home", new { id=@truyen.MaProject})
                    @*<div class="content_grid_item_chapter">
                        <ul>
                            <li><a href="https://ww1.mangafox.online/berserk-of-gluttony/vol-1-chapter-12-a-still-village-153383471224823" title="Vol.1 Chapter 12: A Still Village">Vol.1 Chapter 12: A Still Village</a><i class="time">2 weeks ago</i></li>
                            <li><a href="https://ww1.mangafox.online/berserk-of-gluttony/vol-1-chapter-11-second-form-964710531682926" title="Vol.1 Chapter 11: Second Form">Vol.1 Chapter 11: Second Form</a><i class="time">February 2019</i></li>
                        </ul>
                    </div>*@
                </div>
            </li>
            }
        </ul>
    </div>
    @* Số trang *@
    @*<div class="read_more">
        <ul class="pagination">
            
        </ul>
    </div>*@
    <div style="text-align:center">
        @* Tạo liên kết các trang *@
        <div class="MenuTrang">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
        </div>
        <style>
            .MenuTrang {
                width: 100%;
                text-align: center;
                background-color: #3dc667;
                display: inline-block;
            }

            .MenuTrang li {
                display: inline;               
            }
        </style>
    </div>
</div>          

