@using Testing.ViewModels
@model IEnumerable<TruyenDaTao>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
    .mr10{
        margin-right:20px;
    }
</style>
<div class="padding">
    <div class="m-b">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/User/Index">Index</a></li>
            <li class="breadcrumb-item active">Danh sách truyện đã tạo</li>
        </ol>
    </div>
    <div class="box">
        <div class="box-header">
          
        </div>
        @using (Html.BeginForm("QuanLyTruyenDaTao", "Truyen", FormMethod.Post))
        {
            <div class="col-md-2" id="buttonxoa">
                <button type="submit" value="Delete" class="btn btn-fw danger" onclick="return confirm('Bạn có chắc muốn xoá?')">Xoá truyện</button>
            </div>
            <div class="table-responsive">
                <table ui-jp="dataTable" id="datatable" class="table table-striped b-t b-b">
                    <thead>
                        <tr>
                            <td style="width:5%"><input type="checkbox" id="checkBoxAll" class="custom-checkbox" /></td>
                            <th style="width:10%">Ảnh Bìa</th>
                            <th style="width:25%">Tên Truyện</th>
                            <th style="width:15%">Tác Giả</th>
                            <th style="width:15%">Trạng Thái</th>
                            <th style="width:15%">Ngày Tạo</th>
                            <th style="width:15%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" name="ID" value="@item.MaProject" class="custom-checkbox chkCheckBoxId" id="check-box" />
                                </td>
                                <td class="center">
                                    <a href="/Truyen/QuanLyChuong/@item.MaProject">
                                        <span>
                                            <img src="~/Truyen/@item.AnhBia" style="width:140px; height:120px;" />
                                        </span>
                                    </a>

                                </td>
                                <td class="center">
                                    <a href="/Truyen/QuanLyChuong/@item.MaProject">
                                        <span>
                                            @Html.DisplayFor(modelItem => item.TenTruyen)
                                        </span>
                                    </a>
                                </td>
                                <td class="center">
                                    @Html.DisplayFor(modelItem => item.TacGia)
                                </td>
                                <td class="center">
                                    @Html.DisplayFor(modelItem => item.TrangThai)
                                </td>
                                <td class="center">
                                    @Html.DisplayFor(modelItem => item.NgayTao)
                                </td>
                                <td class="center">
                                   
                                        <a href="~/Truyen/CapNhatTruyen/@item.MaProject" class="mr10"> <i class="material-icons md-24" title="Cập nhật truyện" style="color:cornflowerblue;">&#xe3c9;</i></a>
                                        <a href="~/BanDich/ThemMoi/@item.MaProject" class="mr10"> <i class="material-icons md-24" title="Thêm Bản dịch" style="color:lightseagreen">&#xe7f0;</i></a>
                                    
                                   
                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>

</div>
@section scripts
{
    <script>
        jQuery(document).ready(function ($) {
           
            $('#checkBoxAll').click(function () {
        if ($(this).is(":checked")) {
                    $(".chkCheckBoxId").prop("checked", true)
                }
                else {
                    $(".chkCheckBoxId").prop("checked", false)
                }
    });
});
    </script>
   
}


