@using Testing.ViewModels
@using PagedList.Mvc;
@model PagedList.PagedList<TruyenDaTao>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="padding">
    <div class="m-b">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/User/Index">Index</a></li>
            <li class="breadcrumb-item active">Danh sách truyện đã tạo</li>
        </ol>
    </div>
    <div class="box">
        <div class="box-header">
            <h2>DataTables</h2>
        </div>
        @using (Html.BeginForm("QuanLyTruyenDaTao", "Truyen", FormMethod.Post))
        {
            <div class="col-md-2" id="buttonxoa">
                <button type="submit" value="Delete" class="btn btn-fw danger" onclick="return confirm('Bạn có chắc muốn xoá?')"><i class="fa fa-trash-o"></i> Delete</button>
            </div>
            <div class="table-responsive">
                <table ui-jp="dataTable" id="datatable" class="table table-striped b-t b-b">
                    <thead>
                        <tr>
                            <td><input type="checkbox" id="checkBoxAll" class="custom-checkbox" /></td>
                            <th style="width:20%">Ảnh Bìa</th>
                            <th style="width:25%">Tên Truyện</th>
                            <th style="width:15%">Tác Giả</th>
                            <th style="width:15%">Trạng Thái</th>
                            <th style="width:25%">Ngày Tạo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" name="ID" value="@item.MaProject" class="custom-checkbox chkCheckBoxId" id="check-box" />
                                </td>
                                <td class="center">
                                    <a href="/Truyen/QuanLyChuong/@item.MaProject">
                                        <span>
                                            <img src="~/Truyen/@item.AnhBia" style="width:250px; height:200px;" />
                                        </span>
                                    </a>

                                </td>
                                <td class="center">
                                    <a href="/Truyen/QuanLyChuong/@item.MaProject">
                                        <span>
                                            @Html.DisplayFor(modelItem => item.TenTruyen)
                                        </span>
                                    </a>
                                </td>
                                <td class="center">
                                    @Html.DisplayFor(modelItem => item.TacGia)
                                </td>
                                <td class="center">
                                    @Html.DisplayFor(modelItem => item.TrangThai)
                                </td>
                                <td class="center">
                                    @Html.DisplayFor(modelItem => item.NgayTao)
                                </td>
                                <td class="center">
                                    <a href="~/Truyen/CapNhatTruyen/@item.MaProject" class="rep1"> <i class="fa fa-edit" title="Cập nhật truyện"></i></a>
                                    <a href="~/BanDich/ThemMoi/@item.MaProject" class="rep1"> <i class="fa fa-edit" title="Cập nhật truyện"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>

</div>
@section scripts
{
    <script>
        jQuery(document).ready(function ($) {
           
            $('#checkBoxAll').click(function () {
        if ($(this).is(":checked")) {
                    $(".chkCheckBoxId").prop("checked", true)
                }
                else {
                    $(".chkCheckBoxId").prop("checked", false)
                }
    });
});
    </script>
    <script>
        $('#modal-container').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var url = button.attr("href");
            var modal = $(this);

            // note that this will replace the content of modal-content ever time the modal is opened
            modal.find('.modal-content').load(url);
        });
    </script>
}


