@using Testing.ViewModels
@using PagedList.Mvc;
@model IEnumerable<ChuongTruyenDaTao>
@{
    /**/

    ViewBag.Title = "@ViewBag.TenTruyen";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="padding">
    <div class="m-b">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/User/Index">Home</a></li>
            <li class="breadcrumb-item"><a href="/Truyen/QuanLyTruyenDaTao">Danh sách truyện đã tạo</a></li>
            <li class="breadcrumb-item active">Danh sách chương</li>
        </ol>
    </div>
    <div class="box">
        <div class="box-header">

        </div>
        @using (Html.BeginForm("QuanLyChuong", "Truyen", FormMethod.Post))
        {
            
        <div class="row m-b">
            <div class="col-sm-2">
                <button id="buttonxoa" type="submit" value="Delete" class="btn btn-fw danger" onclick="return confirm('Bạn có chắc muốn xoá?')" style="margin:20px;">Xoá chương</button>
            </div>
            <div class="col-sm-2">
                <button id="buttonxoa" type="submit" value="Delete" class="btn btn-fw info" onclick="return confirm('Bạn có chắc muốn xoá?')" style="margin-top:20px;"><a href="/ChuongTruyen/TaoMoi/@ViewBag.MaProject">Thêm chương</a></button>
            </div>
        </div>
            <div class="table-responsive">
                <table ui-jp="dataTable" class="table table-striped b-t b-b">
                    <thead>
                        <tr>
                            <th width="5%"></th>
                            <th style="width:30%">Tên Chương</th>
                            <th style="width:15%">Thời gian cập nhật</th>
                            <th style="width:10%">Lượt xem</th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><input type="checkbox" id="chekbox" name="ID" value="@item.MaChuong" class="custom-checkbox chkCheckBoxId" /></td>
                                <td class="center">
                                    <a href="/ChuongTruyen/Index/@item.MaChuong?name=@item.TenChuong&loaitrang=raw">
                                        <span>
                                            @Html.DisplayFor(modelItem => item.TenChuong)
                                        </span>
                                    </a>
                                </td>
                                <td class="center">
                                    @Html.DisplayFor(modelItem => item.Thoigian)
                                </td>
                                <td class="center">
                                    @Html.DisplayFor(modelItem => item.LuotXem)
                                </td>


                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>

</div>
@section scripts
{
    <script>
        jQuery(document).ready(function ($) {

            $('#checkBoxAll').click(function () {
                if ($(this).is(":checked")) {
                    $(".chkCheckBoxId").prop("checked", true)
                }
                else {
                    $(".chkCheckBoxId").prop("checked", false)
                }
            });
        });
    </script>
    }


