@using Testing.ViewModels
@model Testing.ViewModels.TruyenModel

@{
    ViewBag.Title = "TaoMoi";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
    .col-sm-3
    {
        text-align:center;
    }
</style>
<div class="padding">
    <div class="m-b col-md-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/User/Index">Home</a></li>
            <li class="breadcrumb-item active">Tạo truyện</li>
        </ol>
    </div>
    <div class="col-md-12">
        <div class="box">
            <div class="box-divider m-0"></div>
            <div class="box-body">
                <div class="form">

                    @using (Html.BeginForm("TaoMoi", "Truyen", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="m-b text-sm">
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group row">
                            <label for="TenTruyen" class="col-sm-3 form-control-label">Tên Truyện<span>(*)</span></label>
                            <div class="col-sm-7">
                                <input type="text" ui-jp = "parsley" class="form-control" id="TenTruyen" name="TenTruyen" placeholder="Tên Truyện" required data-parsley-length = "[6, 32]" data-parsley-length-message = "Yêu cầu từ 6-32 kí tự" data-parsley-required-message = "Không được để trống">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="TenKhac" class="col-sm-3 form-control-label">Tên khác<span>(*)</span></label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="TenKhac" name="TenKhac" placeholder="Tên khác" required data-parsley-required-message = "Không được để trống">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="fileupload" class="col-sm-3 form-control-label">Ảnh bìa<span>(*)</span></label>
                            <div class="col-sm-3">
                                <div class="form-file">
                                    <input type="file" id="AnhBia" name="AnhBia" class="form-control">
                                    <button class="btn white">Chọn Ảnh ...</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-3 form-control-label">Trạng thái</label>
                            <div class="col-sm-7">
                                <select class="form-control c-select" id="MaTrangThai" name="MaTrangThai">
                                    <option selected value="-1" disabled>--Chọn Trạng Thái--</option>
                                    @foreach (var item in ViewBag.TrangThai)
                                    {
                                        <option value="@item.Matrangthai">@item.Tentrangthai</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Mota" class="col-sm-3 form-control-label">Mô tả</label>
                            <div class="col-sm-7">
                                <textarea class="form-control" rows="3" id="MoTa" name="MoTa"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="TacGia" class="col-sm-3 form-control-label">Tác Giả</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="TacGia" name="TacGia" placeholder="Tác Giả">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="TheLoai" class="col-sm-3 form-control-label">Thể Loại</label>
                            <div class="input-group select2-bootstrap-append col-sm-7">
                                <select id="DSTheLoai" name="DSTheLoai" class="form-control select2" multiple multiple ui-jp="select2" ui-options="{theme: 'bootstrap'}">
                                    @foreach (var item in ViewBag.TheLoai)
                                    {
                                        <option value="@item.MaTheLoai">@item.TenTheLoai</option>
                                    }
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" data-select2-open="multi-append">
                                        <span class="fa fa-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group row m-t-md">
                            <div class="col-sm-7 offset-8">
                                <button type="submit" class="md-btn md-raised m-b-sm w-xs blue">Tạo</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>       



        
