@model Testing.ViewModels.DangKyModel

@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/ResAndLogLayout.cshtml";
}
<div class="center-block w-xxl w-auto-xs p-y-md">
    <div class="navbar">
        <div class="pull-center">
            <div ui-include="'../views/blocks/navbar.brand.html'"></div>
        </div>
    </div>
    <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
        <div class="m-b text-sm">
            Đăng Kí tài khoản
        </div>
        <div class="form">
            @using (Html.BeginForm("DangKy", "User", FormMethod.Post,new { ui_jp = "parsley" }))
            {
                @Html.AntiForgeryToken()
            <div class="m-b text-sm">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>
            <div class="md-form-group">
                @Html.TextBoxFor(model => model.TaiKhoan, new { @class = "md-input", type = "text", required = "required", data_parsley_length = "[6, 32]", data_parsley_length_message = "Yêu cầu từ 6-32 kí tự", data_parsley_required_message ="Không được để trống", pattern = "[A-Fa-f0-9]", data_parsley_pattern_message = "Không được chứa kí tự đặc biệt" })
                
                <label>Tài khoản</label>
            </div>
            
                <div class="md-form-group">
                    @Html.TextBoxFor(model => model.Email, new { @class = "md-input", type = "email", required = "required", data_parsley_required_message = "Không được để trống",data_parsley_type_message = "Yêu cầu định dạng email" })
                    <label>Email</label>
                </div>
                <div class="md-form-group">
                    @Html.TextBoxFor(model => model.SoDienThoai, new { @class = "md-input", required = "required",type="text", data_parsley_type = "number", data_parsley_type_message = "Chỉ được nhập số", data_parsley_required_message = "Không được để trống" })
                    <label>Số điện thoại</label>
                </div>
            
               
                <div class="md-form-group">
                    @Html.PasswordFor(model => model.MatKhau, new { @class = "md-input", required = "required", data_parsley_length = "[6, 32]", data_parsley_length_message = "Yêu cầu từ 6-32 kí tự", data_parsley_required_message = "Không được để trống" })
                    <label>Mật khẩu</label>
                </div>
                <div class="md-form-group">
                    @Html.PasswordFor(model => model.XacNhanMatKhau, new { @class = "md-input", required = "required", data_parsley_equalto = "#MatKhau", data_parsley_error_message = "Xác nhận mật khẩu không trùng khớp" })
                    <label>Xác nhận mật khẩu</label>
                </div>

                <button type="submit" class="btn primary btn-block p-x-md">Đăng Kí</button>
            }
        </div>
    </div>
    <div class="p-v-lg text-center">
        <div>Đã Có tài khoản?<a ui-sref="access.signin" href="/User/DangNhap" class="text-primary _600">Đăng Nhập</a></div>
    </div>
</div>
========================
